.jumbotron {
	display: flex;
	color: #2c3e50;
	background: #ecf0f1;
}
.container {
	display: flexbox;
}
.row {
	flex: 1;
}
.navbar-inverse {
	background: #2c3e50;
}
.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.navbar-inverse .navbar-brand {
	color: white;
}
#profilepic {
    width: 200px; /* Set width */
    height: auto; /* Maintain aspect ratio */
    border: 5px solid #fff; /* White border */
    border-radius: 50%; /* Make it circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    margin: 20px auto; /* Center the image with margin */
    display: block; /* Center block element */
	float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.registration-box {
    width: 300px; /* Set a fixed width for the registration box */
    padding: 20px; /* Add some padding */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background color */
    margin-left: 20px; /* Space between grid and registration box */
}